<nav class="navbar">
    <div class="logo">
        <img src="assets/Images/Company_Logo.png" alt="Sree Builders Logo" />
    </div>
    <a routerLink='/project' routerLinkActive="active">Projects</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/enquiry" routerLinkActive="active">Enquiry</a>
</nav>

<div class="content">
    <div class="text-content">
        <h2>Welcome to Sree construction Builders</h2>
        <p>We build homes that last for generations</p>
    </div>
</div>


<div >
    <img class="contentImage" src="assets/Images/Experienced_Img.png" alt="Experience Img" />
</div>